
.user-links-menu {
  display: none;
  position: absolute;
  z-index: 101;
}
.user-links-menu ul {
  margin: 0;
  padding: 0;
}
.user-links-menu ul li {
  margin: 0;
  padding: 0;
  display: block;
  list-style-type: none;
}
